body {
    font-family: monospace;
    color: rgb(202, 202, 202);
    background-color: rgb(46, 46, 46);
    font-size: 1rem;
}

a {
    color: rgb(209, 160, 86);
}

i {
    color: rgb(146, 177, 132);
}

button.action-button {
    font-family: inherit !important;
    font-size: inherit !important;
    text-decoration: underline;
    color: inherit;
    background-color: inherit;
    border: none;
    color: rgb(209, 160, 86);
    user-select: all;
    display: inline;
    padding: 0;
}

button.action-button:hover {
    cursor: pointer;
}

input, textarea, select {
    font-size: 1rem;
    margin: 2px;
    border-radius: 4px;
    border: 1px solid rgb(184, 180, 174);
    color: inherit;
    background-color: rgb(43, 40, 36);
    font-family: inherit;
}

@media (min-width:1024px) {
    textarea, article, div.content {
        width: 40%;
    }
}

@media (max-width:1024px) {
    textarea, article, div.content {
        width: 100%;
    }
}

textarea {
    vertical-align: top;
}

input[type=submit] {
    padding: 5px;
}

input[type=submit]:hover {
    cursor: pointer;
    background-color: rgb(88, 76, 59)
}

div.content {
    padding-left: 1rem;
}